@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


body{
    font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background:  no-repeat 0% 0% / 100vw 25rem;
  width: min(85%, 54rem);
  margin: auto;
  background-color: #171723;
    color: white;
    height: 100vh;
  background-image:url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1380&t=st=1702454403~exp=1702455003~hmac=7a6a2a3769a0cad3ef17eef0723974ed94ba4e0bb2a8bd4792f97ef98cb575ed);

}

.todos-heading {
    text-align: LEFT;
    font-family: "bree serif";
    letter-spacing: 30px;
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
    background-color: #25273c;
    color: white;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.button-1 {
    color: white;
    font-family: "Roboto";
    font-size: 12 px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: white;
    background-color: transparent;
    text-align: center;
}
.margin{
    margin-top: 65px;
}


.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "bree serif";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    margin-left : auto;
    width: 18%;
}

.delete-icon {
    padding: 15px;
    margin-right : 0;
}

.checked {
    text-decoration: line-through;
}
.border-style-box{
    border : 3px dashed #dcdcdc;
}